<!DOCTYPE html>
<html>
<head>
    <title>Mapitas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src=" {{ url_for('static',filename='js/create_map.js') }} "></script>
    <script src=" {{ url_for('static',filename='js/ajax.js') }} "></script>
    <script src=" {{ url_for('static',filename='js/googlemaps.js') }} "></script>
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/grid.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/bootstrap.min.css') }} ">
</head>
<body onload="initMap();">
    
    <div class="grid-container">
        <div  style="text-align: center;" class="header-area"><h1>US ZIP CODE</h1></div>
        <div class="form-area">
            <form >
                <!-- <div>
                    <label class="form-label" for="latitude-input">Latitude</label>
                    <input class="form-input" type="text" id="latitude-input" placeholder="74.333333">
                </div>
                <div style="padding-top: 40px;">
                    <label class="form-label" for="longitude-input">Longitude</label>
                    <input type="text" id="longitude-input" placeholder="-55.222222">
                </div> -->
                <div style="padding-top: 40px" >
                    <label class="form-label" for="address-input">Address</label>
                    <input type="text" id="address-input" placeholder=" 387 Sunny Day Drive Irvine">
                    <label class="form-label" for="k-input">How many neighbors</label>
                    <input type="text" id="k-input" placeholder="e.g 8">
                    
                </div>
                <div style="margin-top: 20px; text-align: center;">
                    <button id="boton-address" type="button" class="btn btn-primary mb-2">Search</button> 
                </div>
            </form>
        </div>
        <div class="map-area" id="map" style="height: 700px; width: 1200px;"></div>
    </div>

</body>
</html>
